{% extends "aboutbase.jinja2" %}

{% block aboutcontent %}
    <span class="glyphicon glyphicon-info-sign big-sign"></span>
    <h1>About</h1>
    <p>My name is Andrew Lichaczewski. One of the things I like is developing software.</p>
    <p>I created this site to showcase some of the projects I have been working on. I also wanted to try my hand at front-end webdesign.</p>
    <p>My primary programming languages are Python and Java. What I like about Python is it's laconic style while at the same time it offers a lot of flexibility in solving programming tasks. Unfortunately Python's performance might be insufficient for some critical problems, so that's where knowledge of some other - faster - language like Java might come in handy. I feel that a combo like that provides me with a toolset sufficient for most applications.</p>

{% endblock aboutcontent %}
