{% extends "base.jinja2" %}

{% block content %}
<div class="centered">
<h1>About</h1>
<p>My name is Andrew Lichaczewski. One of the things I like is developing software.</p>
<p>I created this site to showcase some of the projects I have been working on. I also wanted to try my hand at front-end webdesign.</p>
<p>My primary programming languages are Python and Java. What I like about Python is it's laconic style while at the same time it offers a lot of flexibility in solving programming tasks. I have dabbled a bit in C++, but to be honest I have forgotten quite a lot.. </p>
<p>I like reading up about new programming and web technologies.</p>
</div>
{% endblock content %}
