{% extends "aboutbase.jinja2" %}

{% block aboutcontent %}
<div class="section-title">contact info</div>
<p class="text-muted">The e-mail address is hidden to protect me from spam, click to reveal.</p><br />
<p>e-mail: <a href="http://www.google.com/recaptcha/mailhide/d?k=01nvD8Jj0xhd3t06WaExq7Ww==&amp;c=brVR3kOHygCIZzonRrQgpPROADl0P8VWaMUwGXSwOvc=" onclick="window.open('http://www.google.com/recaptcha/mailhide/d?k\07501nvD8Jj0xhd3t06WaExq7Ww\75\75\46c\75brVR3kOHygCIZzonRrQgpPROADl0P8VWaMUwGXSwOvc\075', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;" title="Reveal this e-mail address">a...(click to reveal)</a>@gmail.com</a></p>
<p>LinkedIn profile: <a href="https://www.linkedin.com/pub/andrzej-lichaczewski/69/25/406">https://www.linkedin.com/pub/andrzej-lichaczewski/69/25/406</a></p>
{% endblock %}
