{% extends "subproject.jinja2" %}
{% block projtitle %}Drug Scheduler{% endblock %}

{% block projcontent %}
Mobile application intended for managing drug dosage schedules in a hospital environment. Drug schedules are stored on a remote server and downloaded as JSON files.
<br /><br />
<p><img src="{{ request.static_url('portfolio:static/img/drugscheduler.png') }}" width="240" height="400" class="center-block img-thumbnail" /></p>
<h5>Highlights / Key Challenges</h5>
<ul>
<li>Establishing connectivity with remote server</li>
<li>Parsing JSON files and creating objects based on suitable data models</li>
<li>Refreshing UI basing on changes in the data model</li>
</ul>
{% endblock projcontent %}

{% block platform %}
Android
{% endblock %}
{% block languages %}
Java, XML, JSON
{% endblock %}
{% block libraries %}
Android Standard API
{% endblock %}
{% block extrarightbar %}
<p><h5>Source code:</h5></p><p><a href="https://bitbucket.org/andrewlee224/medscheduler/">https://bitbucket.org/andrewlee224/<br />medscheduler/</a></p>
{% endblock %}
