{% extends "projects.jinja2" %}
{% block beforetitle %}<span class="glyphicon glyphicon-list-alt big-sign"></span>
{% endblock %}
{% block projtitle %}<h1>My Projects</h1>{% endblock %}
{% block projcontent %}Here you can find descriptions of projects I have completed.{% endblock %}

