{% extends "base.jinja2" %}
{% block title %}Projects{% endblock %}

{% block sidemenu %}
<!-- Project menu -->
<div class="col-sm-3 text-info">
  <div class="list-group">
    <a href="{{ request.route_url('rnapairs') }}" class="list-group-item">RNA Pairs</a>
    <a href="{{ request.route_url('usgviewer') }}" class="list-group-item">USG Viewer</a>
    <a href="{{ request.route_url('signalmonitor') }}" class="list-group-item">Signal Monitor</a>
    <a href="{{ request.route_url('drugscheduler') }}" class="list-group-item">Drug Scheduler</a>
  </div>
</div>
<!-- End project menu -->
{% endblock sidemenu %}

{% block content %}
<div class="col-sm-6">
    {% block beforetitle %}{% endblock %}
    <div class="section-title">{% block projtitle %}{% endblock %}</div>
    {% block projcontent %}{% endblock %}
</div>
{% block rightbar %}
{% endblock rightbar %}

{% endblock content %}
