{% extends "projects.jinja2" %}
{% block projtitle %}RNA Pairs{% endblock %}

{% block projcontent %}
Command-line Application for analysis of three dimensional structures of RNA chain fragments and a web application for browsing and displaying the results. 
{% endblock projcontent %}
