{% extends "aboutbase.jinja2" %}

{% block aboutcontent %}
<div class="section-title">this website</div>
<p>This website was created using the <a href="http://www.pylonsproject.org/projects/pyramid/about">Pyramid</a> web framework. On the front-end side I used <a href="http://getbootstrap.com">Bootstrap</a> and some dynamic visual elements (the sitemap) were created using a data visualisation library <a href="http://d3js.org">D3.js</a>.</p>
<p>My server of choice for this website is <a href="http://gunicorn.org">gunicorn</a> (written in Python). The website is deployed on <a href="http://heroku.com">heroku</a>.
{% endblock %}
